body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

/* nav styling */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}


/* header styling */
.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 75px 0px;
}

.header p {
    flex-wrap: wrap;
}

.header div {
    margin-left: 185px;
}

.header img {
    margin-right: 185px;
}

/** .header,
.main,
.quote,
.cta {
    flex: 1;
}

**/

/* content styling */
.content {
    padding: 25px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted lightgrey;
    height: 250px;
    width: 150px;
}

.icon-container {
    background-color: #1F2937;
    height: 75px;
    width: 150px;
}

/* quote styling */
.quote-container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 0px;
}

.quote {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote span {
    align-self: flex-end;
    font-weight: bolder;
}

/* cta styling */
.cta {
    display: flex;
    justify-content: center;
}

.cta-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    margin: 75px;
    padding: 35px;
    width: 70%;
    border-radius: 10px;
}


/* general styling */
button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
}

/* footer styling */
.footer {
    text-align: center;
    color: white;
    background-color: #1F2937;
    padding: 35px 0px;
}