body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.header p {
    flex-wrap: wrap;
}

.header div {
    margin-left: 185px;
}

.header img {
    margin-right: 185px;
}

button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
}

/** .header,
.main,
.quote,
.cta {
    flex: 1;
}

**/

.footer {
    text-align: center;
    color: white;
    background-color: #1F2937;
    padding: 35px 0px;
}